<!DOCTYPE html>
<html>
<head>
 <title> Acueil</title>
 <style>
        body {
           background-color: #007BFF; 
        }
        h1 {
            font-family: 'Berlin Sans FB Demi', serif;
            font-size: 60px;
            color: rgb(254, 255, 255);
        }
    </style>
</head>
<body>
 <center> <h1>Impérial joaillerie</h1> </center>
 <center> <h2>L'élégance comence par un bijou qui vous ressemble </h2> </center>

    

 <h2><a href="/page1">Produits</a></h2>
 <h2><a href="/page0">Connexion</a></h2>
 <h4> Promotions </h4>
</body>
</html>