<!DOCTYPE html>
<html lang="fr">
<head>
    
    <title>Admin</title>
</head>
<body>
    <center><h1>Tableau de bord administratif</h1>

    <h2>graphique utilisateurs</h2>
    <img src"{{ url_for('static', filename='images/graph_utilisateurs.png') }}" alt="Graphique utilisateurs", width="400" height="400">

    <h2>graphique distribution produits</h2>
    <img src"{{ url_for('static', filename='images/graph_distribution_produits.png') }}" alt="Graphique distribution produits", width="400" height="400">

    <h2>graphique Chifre d'afaires </h2>
    <img src"{{ url_for('static', filename='images/graph_chiffre_affaire.png') }}" alt="Graphique chiffre d'affaire", width="400" height="400">   

    <h2>graphique ventes par mois</h2>
    <img src"{{ url_for('static', filename='images/graph_ventes_par_mois.png') }}" alt="Graphique ventes par mois", width="400" height="400">

    <h1>fin donnes administratives</h1></center>   

</body>

</html>