{% extends "base.html" %}

{% set titre = "Ajout Produit" %}

{% block content %}
<h1>Entrez le produit à ajouter</h1>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST" action="/ajouter_produit" >
    <label for="Type">Type de Bijoux</label><br>
    <select name ="Type" id = "Type" required>
        <option value = "bague">bague</option>
        <option value = "bracelet">bracelet</option>
        <option value = "collier">collier</option>
    </select><br><br>

    <label for="Genre">Genre</label><br>
    <select name ="Genre" id = "Genre">
        <option value = "Homme">Homme</option>
        <option value = "Femme">Femme</option>
        <option value = "NonPrecise">Non précisé</option>
    </select><br><br>

    <label for="Prix">Prix de vente</label><br>
        <input type = "text" id = "Prix" name = "Prix" required><br><br>

    <label for="Nom_bijoux">Nom du bijoux</label><br>
        <input type="text" id="Nom_Bijoux" name="Nom_Bijoux" required><br><br>  
        
    <label for="Matiere">Type de Bijoux</label><br>
    <select name ="Matiere" id = "MAtiere" required>
        <option value = "or">or</option>
        <option value = "argent">argent</option>
    </select><br><br>
    
    <button type = "submit">Ajouter</button>
</form>

<h2><a href="/Liste_produits">Retour à la liste</a></h2>
<h2><a href="/admin">Retour à la page admin</a></h2>
{% endblock %}

{% block footer %}
<p>&copy; 2026 Maison Luxe - Joaillerie Fine</p>
<p>Expertise . Élégance . Tradition</p>
<div style="margin-top: 50px; padding-bottom: 30px;">
    <img src="{{ url_for('static', filename='images/logolivraison.png') }}" width="600">
</div>
{% endblock %}
</footer>
</body>
</html>
