{% extends "base.html" %}

{% block content %}
    <section class="hero-section">
        <h1>Nos Bagues d'Exception</h1>
    </section>

    <div class="product-grid">
        {% for p in produits %}
                <div class="product-card">
                    <!-- DEBUG: {{ p }} -->
                    {% if p[6] %}
                        <img src="{{ url_for('static', filename='images/' + p[6]) }}" alt="{{ p[4] }}" class="product-image" style="width: 200px; height: 200px; object-fit: cover;">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/bague2.jpg') }}" alt="{{ p[4] }}" class="product-image" style="width: 200px; height: 200px; object-fit: cover;">
                    {% endif %}
                    <h3>{{ p[4] }}</h3>
                    <p class="description">{{ p[7] }}</p>
                    <p class="prix">{{ p[3] }} €</p>
                    <p class="stock">Stock: {{ p[6] }}</p>
                    <form action="{{ url_for('ajouter_panier', id_produit=p[0]) }}" method="POST">
                        <button type="submit">Ajouter au panier</button>
                    </form>
                </div>
        {% endfor %}
    </div>
{% endblock %}