<!DOCTYPE html>
<html>
<head>
 <title> Liste des Produits</title>
</head>
<body>
 <h1>Actuellement proposé à la vente</h1>

 <ul>
{% for user in produits %}
  <li>{{ user[1], user[2],user[3],user[4]}}</li>
{% endfor %}
</ul>

 <h2><a href="/Ajout_produit">Ajouter un produit</a></h2>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
 <title> Liste des Produits</title>
</head>
<body>
 <h1>Actuellement proposé à la vente</h1>

 <ul>
{% for user in produits %}
  <li>{{ user[1], user[2],user[3],user[4]}}</li>
{% endfor %}
</ul>

 <h2><a href="/Ajout_produit">Ajouter un produit</a></h2>
</body>
</html>