{% extends "base.html" %}

{% block content %}

    <div class="titre-container">
        <center><h1>Notre Histoire</h1></center>
        <center><p class="slogan">L'ingénierie au service de l'éclat drômois.</p></center>
    </div>

    <div class="contenu-histoire">
        <p>
            <strong>L'Impérial Joaillerie</strong> est avant tout l'histoire de quatre étudiants en classe préparatoire au cycle ingénieur, unis par la volonté de concilier la rigueur de leurs études et une passion commune : les bijoux de luxe et la science des matériaux.
        </p>
        <p>
            Originaires de la Drôme, notre souhait est de mettre en valeur le savoir-faire unique de notre département. En produisant du "Made in France" et en sourçant plus de 80% de nos composants à l'échelle locale, nous faisons le choix d'une joaillerie en circuit court. De la noblesse des métaux au caractère brut des minéraux de notre région, chaque pièce de L'Impérial raconte une histoire de proximité.
        </p>
        <p>
            Porter une création L'Impérial, c'est arborer un morceau de notre territoire, façonné par l'exigence de l'esprit ingénieur et la passion du luxe authentique. Nous ne créons pas seulement des parures ; nous forgeons le lien entre la technique pure et l'éclat éternel.
        </p>
    </div>
</body>
</html>
{% endblock %}