<!DOCTYPE html>
<html>
<head>
 <title> Promotions</title>
 <style>
        body {
            background-color: rgba(117, 71, 255, 0.382); 
        }
        h1 {
            font-family: 'Berlin Sans FB Demi', serif;
            font-size: 60px;
            color: rgb(254, 255, 255);
        }
    </style>
</head>
<body>
 <center> <h1>Nos promotions</h1> </center>
 <center> <h2>Trouvez des cadeaux parfaits pour vous ou vos proches </h2> </center>

    <h2>anniversaire</h2>
    <h2>noel</h2>
    <h2>nouvel an</h2>
</body>
</html>