{% extends "base.html" %}

{% block content %}
<div class="accueil-container">
    
    <h1>Impérial Joaillerie</h1>
    <p>L'élégance commence par un bijou qui vous ressemble.</p>

    <div class="promo-box">
        <p class="badge">Offre Spéciale</p>
        <h2>-10% sur une grande sélection de bijoux ! *</h2>
        <p>*Profitez de nos offres exclusives jusqu'au 21 avril.</p>
        <img src="{{ url_for('static', filename='images/promotions.jpg') }}" width="400" alt="Promotions">
    </div>  

    <div class="ligne-images">
        <div class="item-accueil">
            <a href="/produits/Bagues">
                <img src="{{ url_for('static', filename='images/bagueacc.jpg') }}" width="280" height="280" alt="Bagues">
            </a>
        </div>

        <div class="item-accueil">
            <a href="/produits/Montres">
                <img src="{{ url_for('static', filename='images/montreacc.jpg') }}" width="280" height="280" alt="Montres">
            </a>
        </div>

        <div class="item-accueil">
            <a href="/produits/Colliers">
                <img src="{{ url_for('static', filename='images/collieracc.jpg') }}" width="280" height="280" alt="Colliers">
            </a>
    </div>

    </div>

</div>
{% endblock %}